[Unit]
Description=Catch Taxi Telegram
After=multi-user.target
Conflicts=getty@tty1.service
 
[Service]
Type=simple
ExecStart=/root/cctaxi/cctaxi.py
StandardInput=tty-force
Restart=Always
WorkingDirectory=/root/cctaxi
 
[Install]
WantedBy=multi-user.target
